
* {
  padding: 0;
  margin: 0;
}


.box {
  /* background-color: black; */
  columns: white;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 15%;
  background: var(--gradient);
}

.wrapper {
  display: flex;
}


ul {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
