
* {
  padding: 0;
  margin: 0;
}


.box {
  columns: white;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: var(--gradient);
  position: fixed;
  z-index: 0;
  top: 20%;
}

.wrapper {
  display: flex;
}


ul {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

@media (min-width: 1000px) {
  .box {
    margin-left: 15%;    
    top:0;
  }
}
