* {
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}


.box {
  /* background-color: black; */
  columns: white;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 15%;
  background: radial-gradient(circle at top left, #fff, #bdd5e7);
}

.wrapper {
  display: flex;
}