.homewrap {
  display: flex;
  justify-content: center;
}
.homepage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 8.5rem; */
    overflow-y: scroll;
  }
  
  .hometext {
    width: 55%;
    color: var(--text-color);
  }
  
  @media (min-width: 1000px) {
    .homepage {
      height: 100vh;
      flex-direction: row;
      width: 55%;
      justify-content: space-between;
      margin-top: 0;
  }
}