.socials {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    background-color: var(--background-color);
}

.social-icon {
    transition: all .2s;
    padding: .25rem;
}


.social-icon:active {
    transform: scale(1);
}

@media (min-width: 1000px) {
    .socials{
        font-size: 4rem;
        right: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        z-index: 100;
        bottom: 1rem;
        position: fixed;
        background-color: transparent;
    }
    .social-icon:hover {
        rotate: 360deg;
        transform: scale(1.2);
    }
    .social-icon{
        padding: 0;
    }

}