.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding-top: 9rem;
    width: fit-content;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 75%;
    padding: 1rem;
    caret-color: var(--text-color);
}   

.contact-form > * {
    margin-bottom: 1rem;
    
}

.form-group {
    display: flex;
    flex-direction: column;
}


.form-group>* {
    color: var(--text-color);
    border: none;
    background-color: transparent;
    resize: none;
    padding: 5px;
    font-size: 1.25rem;
}

#email:focus {
    outline: none;
}
#body:focus {
    outline: none;
}

.contact-button {
    background-color: transparent;
    font-size: 1.25rem;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.thanks {
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
}

@media (min-width: 1000px) {
    .contact{
        height: 100vh;
        width: 65vw;
        padding: 0;
    }
    .form-group {
        flex-direction: row;
        border-bottom: 2px solid var(--text-color);
    }
    .contact-button:hover {
        text-decoration: underline;
    }
}