.darkmode {
    position: fixed;
    bottom: 92%;
    left: 85%;
}

.darkmode-toggle {
    font-size: 1rem;
    padding: 5px;
    border-radius: 50%;
    background: transparent;
    height: 2rem;
    width: 2rem;
    box-shadow: none;
    border: none;
    color: var(--text-color);
}

.darkmode-toggle:hover {
    background-color: var(--background-invert);
    color: var(--text-invert);
}

@media (min-width: 1000px) {
    .darkmode {
        bottom: 1rem;
        left: 2rem;

    }

}
